@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: 'Open Sans', 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

::-webkit-scrollbar{
    display: none;
}

html, body{
   background-color: #F3EFF5;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header{
    background-color: #3F7D20;
    padding: 10px;
    position: fixed;
    width: 100%;
    padding-top: 5px;
    padding-left: 24px;
    padding-right: 24px;
    position: absolute;
}

header h1{
    color: #F3EFF5;
    font-size: 28px;
}

.nav-links-list{
    list-style-type: none;
    column-gap: 36px;
}

.navbar a   {
    color: #F3EFF5;
    text-decoration: none;
}

.header-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-contents{
    display: flex;
    column-gap: clamp(1rem, 2vw + 1rem, 3rem);
}

.nav-link{
    flex-direction: column;
    font-size: 18px;
}

.search-bar, .hamburger-bar{
    color: #F3EFF5;
}

/* muncul saat ukuran layar <= 600px */
.hamburger-links-list{
    list-style-type: none;
}

.hamburger-menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hamburger-menu-toggle{
    display: none;
}

.hamburger-contents{
    display: none;
}

.util-icons{
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

/* pilihan menu hamburger list saat width kecil */
.header .hamburger-list {
    flex-direction: row;
}

.hamburger-contents {
    display: none;
    text-align: center;
    justify-content: center;
    z-index: 10;
}

.hamburger-link-container>li a {
    text-decoration: none;
    color: #F3EFF5;
}

.hamburger-link-container li{
    margin-bottom: 8px;
}

#hamburger-home-button{
    margin-top: 12px;
}

#hamburger-menu-toggle:checked ~ .hamburger-contents {
    background-color: #0D0A0B;
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
}

/* isi dari halaman blog */
.page-container{
    color: black;
    padding-top: 96px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
}

.page-container, .page-footer{
    padding-left: 124px;
    padding-right: 124px;
}

.page-footer{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #0D0A0B;
    color: #F3EFF5;
    text-align: center;
}

.page-footer a{
    color: #F3EFF5;
}

.page-footer i{
    font-size: 32px;
    margin: 5px;
}

.page-footer i:hover{
    cursor: pointer;
}

.util-icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.page-container h1{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-bottom: 16px;
}

/* hot topic, widget terbesar */
.hot-news-container, .latest-post-container{
    position: relative;
    max-width: 760px;
    min-height: 442px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.hot-news-container .image-wrapper img{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    border-radius: 4px;
    filter: brightness(90%);
}

.redirect-button span svg{
    width: 20px;
    height: 20px;
    fill: #F3EFF5;
    transform: translateY(30%);
}

.latest-post-article-widget .redirect-button span svg, .most-popular-container .redirect-button span svg{
    fill: black;
}

.hot-news-container .hot-article-title-container #hot-title{
    padding-top: 36%;
}

.hot-news-container .hot-article-title-container a{
    text-decoration: none;
    color:#F3EFF5;
}

.hot-news-container .hot-article-title-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 36px;
    padding-bottom: 32px;
}

.hot-news-container .hot-article-title-container a h2{
    font-size: 32px;
}

.latest-post-container{
    max-height: auto;
    position: relative;
}

.latest-post-container h1{
    padding-bottom: 0px;
}


.latest-post-container .latest-post-article-widget{
    max-height: 256px;
    padding: 24px;
    padding-left: 0px;
}

.latest-post-container .latest-post-article-widget img, .popular-post-article-widget img{
    max-width: 280px;
    height: auto;
    aspect-ratio: 4/3;
    margin-right: 12px;
    float: left;
    border-radius: 4px;
}

.latest-post-container .latest-post-article-widget article {
    text-align: justify;
}

.latest-post-container .latest-post-article-widget article a, .popular-post-article-widget a{
    text-decoration: none;
    color: black;
}

.latest-post-container .latest-post-article-widget article a h2{
    font-size: 24px;
}

.latest-post-container .latest-post-article-widget article .redirect-button {
    text-align: right;
}

/* hot topic dan latest */
.left-container{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.pagination-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
    margin-top: 0px;
}

/* most popular dan weekly popular articles */
.right-container{
    display: flex;
    flex-direction: column;
    min-width: 450px;
    max-width: 450px;
    gap: 36px;
}

.most-popular-container{
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popular-post-article-widget img{
    max-width: 160px;
    aspect-ratio: 1/1;
}

.popular-post-article-widget h2{
    font-size: 18px;
}

.most-popular-container h1{
    padding-bottom: 0px;
}



/* monitor kecil */
@media only screen and (max-width: 1200px) {
    header h1 {
        font-size: clamp(1.25rem, 3vw, 2rem);
    }

    .nav-link{
        font-size: clamp(0.9em, 2vw, 1.3em);
    }
}

/* tablet kecil */
@media only screen and (max-width: 992px) {    
    header{
        max-height: 53px;
    }   
}

/* hp */
@media only screen and (max-width: 600px) {
    .page-container {
        padding-top: 64px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .page-container h1 {
        font-size: clamp(1rem, 2vw + 1rem, 1.8rem);
        font-weight: 700;
        letter-spacing: 0.03em;
    }

    #hamburger-menu-toggle:checked~.hamburger-contents {
        display: flex;
    }

    .hamburger-menu-button-container {
        display: flex;
    }

    .nav-contents {
        display: none;
    }

    .util-icons{
        margin-top:4px;
    }
}
